<!doctype html> 
<html> 
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> 
    <title><%= title %></title>
</head>
<body>
<form action="/users/search" method="post">
    姓名：<input type="text" name="s_name"><br>
    年龄：<input type="text" name="s_age"><br>
    <input type="submit" value="查询">
</form>

<table>
    <tr>
        <th>编号</th>
        <th>标题</th>
        <th>类型</th>
        <th>发布时间</th>
        <th>图片链接</th>
        <th>文章内容</th>
    </tr>
    <%= each datas as value index %>
    <tr>
        <td><%= value.id %></td>
        <td><%= value.titile %></td>
        <td><%= value.property %></td>
        <td><%= value.releaseTime %></td>
        <td><%= value.pictureLink %></td>
        <td><%= value.content %></td>
        <td><a href="/users/add">新增</a></td>
        <td><a href="/users/del/<%= value.id %>">删除</a></td>
        <td><a href="/users/toUpdate/<%= value.id %>">修改</a></td>
    </tr>
    <%= /each %>
</table>
</body>
</html>